/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #71785B; /* Color principal 1 */
  --vp-c-brand-2: #C49A6D; /* Color principal 2 */
  --vp-c-brand-3: #71785B; /* Color principal 3 */
  --vp-c-brand-soft: #f0f4ff; /* Color suave de la marca */
  --vp-c-brand-light: #d0d4ff; /* Color claro de la marca */
  --vp-c-brand-dark: #444bff; /* Color oscuro de la marca */
}
/*
.custom-hero {
  padding: 50px;
  text-align: left;
  position: relative;
}

.hero-content {
  max-width: 500px;
}

.hero-title {
  font-size: 4rem;
  margin: 0;
  color: rgb(115, 120, 94);
  line-height: 70px;
}

.hero-subtitle {
  font-size: 3rem;
  margin: 10px 0;
  color: #B8986F;
  line-height: 50px;
}

.hero-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #73785E;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 10px;
}

.hero-logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: auto;
}


@media (max-width: 768px) {
  .custom-hero {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    max-width: 100%;
    order: 2;
  }

  .hero-title {
    font-size: 3rem;
    line-height: 50px;
  }

  .hero-subtitle {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero-logo {
    position: static;
    width: 200px;
    margin: 20px auto 0;
    order: 1;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 2rem;
    line-height: 40px;
  }

  .hero-subtitle {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .hero-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}*/