/* Archivo: docs/.vitepress/theme/index.css */

/* Contenedor del hero */
.custom-hero {
    display: flex;
    flex-direction: row; /* Cambia a row si quieres que el logo y el texto estén en la misma línea */
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    text-align: center;
    gap: 1rem; /* Espacio entre el logo y el texto */
    padding: 2rem;
  }
  
  /* Logo */
  .hero-logo {
    width: 550px; /* Cambia el tamaño del logo */
    height: auto;
    margin-bottom: 1rem; /* Espaciado debajo del logo */
  }
  
  
  .hero-content h1 {
    font-size: 3rem; /* Título grande */
    margin: 0;
    color: #ffffff;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    color: #dcdcdc;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .hero-buttons {
    display: flex;
    gap: 16px;
  }
  
  .button {
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .button.primary {
    background: #646cff;
    color: white;
  }
  
  .button.secondary {
    background: #333;
    color: #fff;
  }
  